body{
    background-color: rgb(204, 246, 243);
    color:rgb(100, 145, 185);
font-family: "Bokor", system-ui;
}

.chamada{
    background-color: rgb(185, 231, 251);
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.chamada-texto {
    margin-right: 10%;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
}
img{
    height: 200px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    background-color: rgb(29, 33, 66);
}
.categoria-videos{
    margin-top: 3vh;
    display: flex; 
    overflow-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}